Repository MarkRDavison/habit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build web, build bff, build api, publish web, publish bff, publish api, publish e2e, end to end tests

Path conditions:
  build web: any of: zeno-habit-web/**/*
  build bff: any of: zeno-habit-bff/**/*
  build api: any of: zeno-habit-api/**/*
  publish web: any of: zeno-habit-web/**/*
  publish bff: any of: zeno-habit-bff/**/*
  publish api: any of: zeno-habit-api/**/*
  publish e2e: any of: zeno-habit-e2e/**/*, charts/**/*
  end to end tests: any of: zeno-habit-web/**/*, zeno-habit-bff/**/*, zeno-habit-api/**/*, zeno-habit-e2e/**/*, charts/**/*

add e2e cypress 17
  .gitlab-ci.yml
Due: none

add e2e cypress 18
  .gitlab-ci.yml
Due: none

add e2e cypress 19
  .gitlab-ci.yml
Due: none

add e2e cypress 20
  .gitlab-ci.yml
Due: none

add e2e cypress 21
  .gitlab-ci.yml
  zeno-habit-e2e/e2e-dep.yaml
Due: publish e2e, end to end tests

add e2e cypress 22
  .gitlab-ci.yml
Due: none

add e2e cypress 23
  .gitlab-ci.yml
Due: none

add e2e cypress 24
  .gitlab-ci.yml
  zeno-habit-e2e/e2e-dep.yaml
Due: publish e2e, end to end tests

add e2e cypress 25
  .gitlab-ci.yml
Due: none

Test
  .gitlab-ci.yml
  zeno-habit-api/Dockerfile
  zeno-habit-e2e/cypress/integration/sanity/sanity-habit-web.spec.js
  zeno-habit-e2e/e2e-dep.yaml
  zeno-habit-web/Dockerfile
Due: build web, build api, publish web, publish api, publish e2e, end to end tests

bump dotnet sdk to 6
  zeno-habit-api/Dockerfile
Due: build api, publish api, end to end tests

rem
  zeno-habit-api/src/zeno-habit-api/zeno-habit-api.csproj
Due: build api, publish api, end to end tests

Add auth from web -> bff -> api
  .gitlab-ci.yml
  zeno-habit-api/Dockerfile
  zeno-habit-api/src/zeno-habit-api-core/Defaulters/HabitDefaulter.cs
  zeno-habit-api/src/zeno-habit-api-core/Defaulters/OccurenceDefaulter.cs
  zeno-habit-api/src/zeno-habit-api-core/Validators/HabitValidator.cs
  zeno-habit-api/src/zeno-habit-api-core/Validators/OccurenceValidator.cs
  zeno-habit-api/src/zeno-habit-api-core/zeno-habit-api-core.csproj
  zeno-habit-api/src/zeno-habit-api-data/Models/Occurence.cs
  zeno-habit-api/src/zeno-habit-api-data/Services/HabitDbContext.cs
  zeno-habit-api/src/zeno-habit-api-service/Services/EntityService.cs
  zeno-habit-api/src/zeno-habit-api-service/Services/Interfaces/IEntityDefaulter.cs
  zeno-habit-api/src/zeno-habit-api-service/Services/Interfaces/IEntityService.cs
  zeno-habit-api/src/zeno-habit-api-service/Services/Interfaces/IEntityValidator.cs
  zeno-habit-api/src/zeno-habit-api-service/zeno-habit-api-service.csproj
  zeno-habit-api/src/zeno-habit-api/Controllers/BaseController.cs
  zeno-habit-api/src/zeno-habit-api/Controllers/OccurenceController.cs
  zeno-habit-api/src/zeno-habit-api/Program.cs
  zeno-habit-api/src/zeno-habit-api/Startup.cs
  zeno-habit-api/src/zeno-habit-api/zeno-habit-api.csproj
  zeno-habit-api/zeno-habit-api-test/Framework/IntegrationTestBase.cs
  zeno-habit-api/zeno-habit-api-test/Framework/MockJwtTokens.cs
  zeno-habit-api/zeno-habit-api-test/Framework/WebApplicationFactory.cs
  zeno-habit-api/zeno-habit-api-test/SanityTests.cs
  zeno-habit-api/zeno-habit-api-test/zeno-habit-api-test.csproj
  zeno-habit-bff/src/app.ts
  zeno-habit-web/src/App.tsx
  zeno-habit-web/src/util/config.ts
Due: build web, build bff, build api, publish web, publish bff, publish api, end to end tests

Fix path to test results
  .gitlab-ci.yml
Due: none

Adding script for determining tags
  .gitlab-ci.yml
  determinetagfrompath.py
  determinetagpresent.py
  zeno-habit-api/Dockerfile
  zeno-habit-bff/jest.config.js
  zeno-habit-e2e/Dockerfile
  zeno-habit-e2e/cypress-k8s.json
  zeno-habit-web/public/android-chrome-192x192.png
  zeno-habit-web/public/android-chrome-512x512.png
  zeno-habit-web/public/apple-touch-icon.png
  zeno-habit-web/public/favicon-16x16.png
  zeno-habit-web/public/favicon-32x32.png
  zeno-habit-web/public/favicon.ico
Due: build web, build bff, build api, publish web, publish bff, publish api, publish e2e, end to end tests

Gross looking but technically functional occurence last 5 days viewing and adding
  .gitlab-ci.yml
  Changelog.md
  TODO
  zeno-habit-web/public/index.html
  zeno-habit-web/src/components/HomePage.tsx
  zeno-habit-web/src/components/HomePageHabitSummary.tsx
  zeno-habit-web/src/components/habitSections/HabitCalendarSection.tsx
  zeno-habit-web/src/models/Helpers.ts
  zeno-habit-web/src/models/Occurence.ts
  zeno-habit-web/src/services/occurenceService.ts
  zeno-habit-web/src/store/habitReducer.ts
  zeno-habit-web/src/store/occurenceReducer.ts
  zeno-habit-web/test/components/HomePageHabitSummary.test.tsx
  zeno-habit-web/test/store/occurenceReducer.test.ts
  zeno-habit-web/webpack.config.js
Due: build web, publish web, end to end tests

Add additional validation to ensure duplicate occurences for the same habit dont occur
  zeno-habit-api/src/zeno-habit-api-core/Validators/HabitValidator.cs
  zeno-habit-api/src/zeno-habit-api-core/Validators/OccurenceValidator.cs
  zeno-habit-api/src/zeno-habit-api-service/Services/EntityValidator.cs
  zeno-habit-api/src/zeno-habit-api-service/Services/Interfaces/IEntityValidator.cs
  zeno-habit-api/zeno-habit-api-test/Core/Validators/HabitValidatorTests.cs
  zeno-habit-api/zeno-habit-api-test/Core/Validators/OccurenceValidatorTests.cs
  zeno-habit-api/zeno-habit-api-test/SanityTests.cs
  zeno-habit-api/zeno-habit-api-test/zeno-habit-api-test.csproj
Due: build api, publish api, end to end tests

WIP getting api test results published again
  .gitlab-ci.yml
  Changelog.md
  zeno-habit-api/Dockerfile
  zeno-habit-api/dev.ps1
  zeno-habit-api/test.ps1
  zeno-habit-api/zeno-habit-api-test/zeno-habit-api-test.csproj
Due: build api, publish api, end to end tests

Update prod deployment to use postgresql
  charts/templates/zeno-habit-secret.yaml
  charts/values.yaml
Due: publish e2e, end to end tests

ws
  zeno-habit-api/Dockerfile
  zeno-habit-bff/Dockerfile
  zeno-habit-e2e/Dockerfile
  zeno-habit-web/Dockerfile
Due: build web, build bff, build api, publish web, publish bff, publish api, publish e2e, end to end tests

revert ws, make e2e depend on configure
  .gitlab-ci.yml
  zeno-habit-api/Dockerfile
  zeno-habit-bff/Dockerfile
  zeno-habit-e2e/Dockerfile
  zeno-habit-web/Dockerfile
Due: build web, build bff, build api, publish web, publish bff, publish api, publish e2e, end to end tests

ws 2
  zeno-habit-api/Dockerfile
  zeno-habit-bff/Dockerfile
  zeno-habit-e2e/Dockerfile
  zeno-habit-web/Dockerfile
Due: build web, build bff, build api, publish web, publish bff, publish api, publish e2e, end to end tests

Update prod deployment to use postgresql
  .gitlab-ci.yml
  charts/templates/zeno-habit-secret.yaml
  charts/values.yaml
  zeno-habit-api/Dockerfile
  zeno-habit-bff/Dockerfile
  zeno-habit-e2e/Dockerfile
  zeno-habit-web/Dockerfile
Due: build web, build bff, build api, publish web, publish bff, publish api, publish e2e, end to end tests

use build tag
  .gitlab-ci.yml
Due: none

ateempt 23
  .gitlab-ci.yml
Due: none

Replace copy pasted errors
  .gitlab-ci.yml
  charts/values.yaml
Due: publish e2e, end to end tests

remove daemon
  charts/values.yaml
Due: publish e2e, end to end tests

log
  zeno-habit-api/src/zeno-habit-api/Startup/ConfigureDatabaseServices.cs
Due: build api, publish api, end to end tests

Add cicd
  .gitmodules
Due: none

Use static nginx and cicd helpers
  .gitlab-ci.yml
  charts/dev-values.yaml
  charts/values.yaml
  determinetagfrompath.py
  determinetagpresent.py
  zeno-habit-web/Dockerfile
  zeno-habit-web/entry.sh
  zeno-habit-web/package.json
  zeno-habit-web/server.mjs
Due: build web, publish web, publish e2e, end to end tests

recursive clone
  .gitlab-ci.yml
Due: none

Add nginx.conf
  zeno-habit-web/nginx.conf
Due: build web, publish web, end to end tests

copy build output from dist not build
  zeno-habit-web/Dockerfile
Due: build web, publish web, end to end tests

Replace correct tag
  zeno-habit-web/public/index.html
Due: build web, publish web, end to end tests

Update webpack to use build mode correctly
  zeno-habit-web/webpack.config.js
Due: build web, publish web, end to end tests

Add src/images alias
  .gitlab-ci.yml
  zeno-habit-web/jest.config.js
  zeno-habit-web/src/index.tsx
  zeno-habit-web/test/App.test.tsx
  zeno-habit-web/tsconfig.json
  zeno-habit-web/webpack.config.js
Due: build web, publish web, end to end tests

Add temp method to add occurence for any date
  zeno-habit-web/src/components/AddOccurenceDialog.tsx
  zeno-habit-web/src/components/HabitPage.tsx
  zeno-habit-web/test/components/AddOccurrenceDialog.test.tsx
  zeno-habit-web/test/components/HabitPage.test.tsx
Due: build web, publish web, end to end tests

Resolve "Create way to delete/archive habit"
  zeno-habit-api/src/zeno-habit-api-data/Models/Habit.cs
  zeno-habit-api/src/zeno-habit-api-data/Services/HabitDbContext.cs
  zeno-habit-api/src/zeno-habit-api/Controllers/BaseController.cs
  zeno-habit-api/src/zeno-habit-api/Controllers/HabitController.cs
  zeno-habit-api/src/zeno-habit-api/Startup/ConfigureDatabaseServices.cs
  zeno-habit-api/zeno-habit-api-test/Framework/IntegrationTestBase.cs
  zeno-habit-api/zeno-habit-api-test/SanityTests.cs
  zeno-habit-web/package-lock.json
  zeno-habit-web/package.json
  zeno-habit-web/src/components/CreateHabitDialog.tsx
  zeno-habit-web/src/components/DeleteConfirmationDialog.tsx
  zeno-habit-web/src/components/HabitPage.tsx
  zeno-habit-web/src/components/HomePage.tsx
  zeno-habit-web/src/models/Habit.ts
  zeno-habit-web/src/services/habitService.ts
  zeno-habit-web/src/store/habitReducer.ts
  zeno-habit-web/test/FrameworkComponents/AlertBar.test.tsx
  zeno-habit-web/test/components/AddOccurrenceDialog.test.tsx
  zeno-habit-web/test/components/CreateHabitDialog.test.tsx
  zeno-habit-web/test/components/DeleteConfirmationDialog.test.tsx
  zeno-habit-web/test/components/HabitPage.test.tsx
  zeno-habit-web/test/components/HomePage.test.tsx
  zeno-habit-web/test/components/HomePageHabitSummary.test.tsx
  zeno-habit-web/test/components/habitSections/HabitBestStreaksSection.test.tsx
  zeno-habit-web/test/components/habitSections/HabitCalendarSection.test.tsx
  zeno-habit-web/test/components/habitSections/HabitFrequencySection.test.tsx
  zeno-habit-web/test/components/habitSections/HabitHistorySection.test.tsx
  zeno-habit-web/test/components/habitSections/HabitOverviewSection.test.tsx
  zeno-habit-web/test/components/habitSections/HabitScoreSection.test.tsx
  zeno-habit-web/test/store/habitReducer.test.ts
Due: build web, build api, publish web, publish api, end to end tests
